{% extends 'master_page.html' %}

{% block body %}

{% if openType != 0 %}
  <section class="section-preview text-center border-1" style="background-color: gainsboro;">
    Your workflow steps and status
    <button class="btn text-success waves-effect waves-light"> Department Check <i class="fa fa-check"></i></button>
    <button class="btn text-primary waves-effect waves-light"> District Check<i class="fa fa-arrow-down"></i></button>
    <button class="btn text-danger waves-effect waves-light"> Campus Check <i class="fa fa-arrow-right"></i></button>
  </section>
{% endif %}

<hr>
{% if openType == 0 %}
  <h2>Districts view and updating<button type="button"  class="btn btn-success float-right" data-toggle="modal" data-target="#frmModalDistrict">Add New District</button> </h2>
{% else %}
  <h2>Districts view and updating</h2>
{% endif %}
  <div class="card">
    <div class="card-body ">
     <table id="tableDistricts" class="table table-bordered table-striped table-hover table-sm" style = "white-space: nowrap;">
      <thead>
      <tr>
        <th data-id-field="RowID">Row ID</th>
        <th>Key</th>
        <th>District Name</th>
        <th>Short Name</th>
        <th>Weight</th>
        <th>Order No</th>
        <th>Active</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
      {% for d in dists %}
      <tr>
          <td>{{ d.RowID }} </td>
          <td>{{ d.DistrictKey }} </td>
          <td>{{ d.District }} </td>
          <td>{{ d.DistrictShort }} </td>
          <td>{{ d.Weight }} </td>
          <td>{{ d.OrderNo }} </td>
          <td>{{ d.IsActive }} </td>
          <td>
            <a href="/district_upd/{{ d.RowID }}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#frmModalDistrictEdit{{ d.RowID }}"> <b> Edit </b></a>
            <!-- <a href="/delete/{{ d.RowID }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a> -->
        </td>
      </tr>
        <!-- Modal Edit District-->
        <div id="frmModalDistrictEdit{{ d.RowID }}" class="modal fade" role = "dialog">
            <div class="modal-dialog">
            <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">Update District Weight</h4></div>
            <div class="modal-body">
            <form action="{{ url_for('district_upd') }}" method="POST">
            <div class="form-group">
                <label>District</label>
                <input type="hidden"  name="RowID" value="{{ d.RowID }}">
                <input type="text" class="form-control" name = "District" value = "{{ d.District }}" readonly>
            </div>
            <div class="form-group">
                <label>Weight</label>
                <input type="number" step=".1" max="4" min = "0" class = "form-control" name = "Weight" value="{{ d.Weight }}">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update District</button>
            </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Form</button>
            </div>
          </div>
        </div>
      </div>       
      {% endfor %}
    </tbody>
      <tfoot>
      <tr>
        <th>Row ID</th>
        <th>Key</th>
        <th>District Name</th>
        <th>Short Name</th>
        <th>Weight</th>
        <th>Order No</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
      </tfoot>
    </table>

  <!-- Modal Add Disctict-->
  <div id="frmModalDistrict" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header"><h4 class="modal-title">Add New District</h4></div>
           <div class="modal-body">
				<form action="/insert_district" method="POST">
          <div class="form-group"><label>Row ID:</label><input type="number" class="form-control" name="RowID" required></div>
          <div class="form-group"><label>Corp ID:</label><input type="number" class="form-control" name="CorpID" required></div>
          <div class="form-group"><label>District Key:</label><input type="number" class="form-control" name="DistrictKey" required></div>
				  <div class="form-group"><label>Name:</label><input type="text" class="form-control" name="District" required></div>
				  <div class="form-group"><label>Short Name:</label><input type="text" class="form-control" name="DistrictShort" required></div>
          <div class="form-group"><label>Weight:</label><input type="number" class="form-control" name="Weight" min="0" max='4' required></div>
          <div class="form-group"><label>Order No:</label><input type="number" class="form-control" name="OrderNo" min="0" max='100' required></div>
          <div class="form-group"><label>Active:</label><input type="number" class="form-control" name="IsActive" min="0" max='1' required></div>
          
          <div class="form-group"><button class="btn btn-primary" type="submit">Add District</button></div>
                
				 </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    {% if openType != 0 %}
    <a href="/pr_department" class="btn btn-primary btn-default active" style="height: min-content;" role="button" aria-pressed="true">Back</a>
    <a href="/pr_campus" class="btn btn-success btn-default active" style="height: min-content;" role="button" aria-pressed="true">Next</a>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}

