{% extends 'master_page.html' %}

{% block body %}

<section class="section-preview text-center" >
  <button type="menu" class="btn btn-default waves-effect waves-light">PROCESS STATUS</button>
  <button class="btn btn-success waves-effect waves-light" disabled> STARTED</button>
  <button class="btn btn-primary waves-effect waves-light" disabled> <span class="spinner-grow spinner-grow-sm"></span> KPI WEIGHT</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> CAMPUS</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> CATEGORY</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> DEPARTMENT</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> DISTRICT</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> CHECK WEIGHTS</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> CALCULATION</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> DONE</button>
  <button class="btn btn-warning waves-effect waves-light" disabled> RESULT VIEW</button>
</section>

<!-- 
<section class="section-preview">
  <button type="button" class="btn btn-primary waves-effect waves-light">Primary</button>
  <button type="button" class="btn btn-default waves-effect waves-light">Default</button>
  <button type="button" class="btn btn-secondary waves-effect waves-light">Secondary</button>
  <button type="button" class="btn btn-success waves-effect waves-light">Success</button>
  <button type="button" class="btn btn-info waves-effect waves-light">Info</button>
  <button type="button" class="btn btn-warning waves-effect waves-light">Warning</button>
  <button type="button" class="btn btn-danger waves-effect waves-light">Danger</button>
</section>
-->


{% endblock %}
